.bannerSumate{
  height: 55vh;width: 100%; background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../img/bannerSumate.jpg");background-position: center;background-size: cover;
  display: flex;
   justify-content: center;
   align-items: end;
}

.bannerSumate h1{text-align: center;text-transform: uppercase; color: rgb(252, 252, 252); font-size: 70px;}


.leyendaSumate{width: 100%; display: flex; justify-content: center;background-color: #f2f2f2}
.cajaTexto{width: 53%; font-size: 27px; background-color: #f2f2f2; margin-top: 50px; margin-bottom: 50px;}
.cajaTexto p{text-align: center;}

.resaltarSubmenu{text-decoration: underline;}

.ocultar{display: none;}
.mostrar{display: block;}

.tercerPaso input[type=radio]{margin-left: 40px;margin-bottom: 20px;}


/* Seccion ACTUAR AHORA */
.itemActuarAhora{
  display:flex;
}

.itemActuarAhora .imagenNoticia{
  width:45%;
  max-height: 180px;
}

.itemActuarAhora .imagenNoticia img{
  width: 100%;
  height: 100%;
}

.itemActuarAhora .textoNoticia{
  width:55%;
  max-height: 160px;
  text-align:justify;
  padding-top:0%;
  padding-bottom: 0%;
  margin-bottom:80px
}

.left{
  padding-right: 2.5%;
}

.right{
  padding-left: 2.5%;
}

.itemActuarAhora .textoNoticiaSinFoto{
  width:100%;
  text-align:justify;
}




.nav-main-sub__sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main-sub__sidebar li {
  margin: 0 0 2px;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .segundoPaso input{display: block;margin: 0px;}
  .tercerPaso input{display:block;margin: 0px;}

  /* Seccion actuarAhora */
  .itemActuarAhora{
    display:block
  }
  
  .itemActuarAhora .imagenNoticia{
    width:100%;
    height: 140px;
    margin-bottom: 10px;
  }

  .itemActuarAhora .imagenNoticia img{
    width: 100%;
    height: 100%;
  }

  .itemActuarAhora .textoNoticia{
    width:100%;
    max-height: 100%;
    text-align:justify;
    padding:0;
    margin-bottom:40px
  }

  .nav-main-sub__sidebar {
    display: none;
  }
  .nav-main-sub__sidebar li>a {
    display: inline-block;
    padding-right: 0.25rem;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    text-decoration: none;
  }
}


/*loader*/
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin-top: 25px;
}

.container__slider{
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0.8);
  height: 100%;
  position: fixed;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: rgb(127,224,237);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}