.bannerSumate{
  height: 55vh;width: 100%; background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../img/bannerSumate.jpg");background-position: center;background-size: cover;
  display: flex;
   justify-content: center;
   align-items: end;
}

.bannerSumate h1{text-align: center;text-transform: uppercase; color: rgb(252, 252, 252); font-size: 70px;}


.leyendaSumate{width: 100%; display: flex; justify-content: center;background-color: #f2f2f2}
.cajaTexto{width: 53%; font-size: 27px; background-color: #f2f2f2; margin-top: 50px; margin-bottom: 50px;}
.cajaTexto p{text-align: center;}

.resaltarSubmenu{text-decoration: underline;}

.ocultar{display: none;}
.mostrar{display: block;}

.tercerPaso input[type=radio]{margin-left: 40px;margin-bottom: 20px;}


/* Seccion ACTUAR AHORA */
.itemActuarAhora{
  display:flex;
}

.itemActuarAhora .imagenNoticia{
  width:45%;
  max-height: 180px;
}

.itemActuarAhora .imagenNoticia img{
  width: 100%;
  height: 100%;
}

.itemActuarAhora .textoNoticia{
  width:55%;
  max-height: 160px;
  text-align:justify;
  padding-top:0%;
  padding-bottom: 0%;
  margin-bottom:80px
}

.left{
  padding-right: 2.5%;
}

.right{
  padding-left: 2.5%;
}

.itemActuarAhora .textoNoticiaSinFoto{
  width:100%;
  text-align:justify;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .segundoPaso input{display: block;margin: 0px;}
  .tercerPaso input{display:block;margin: 0px;}

  /* Seccion actuarAhora */
  .itemActuarAhora{
    display:block
  }
  
  .itemActuarAhora .imagenNoticia{
    width:100%;
    height: 140px;
    margin-bottom: 10px;
  }

  .itemActuarAhora .imagenNoticia img{
    width: 100%;
    height: 100%;
  }

  .itemActuarAhora .textoNoticia{
    width:100%;
    max-height: 100%;
    text-align:justify;
    padding:0;
    margin-bottom:40px
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}